version: '3.8'
services:
  validationservice:
    container_name: jvalidationservice
    image: validationservice2:v2
    ports:
      - "8080:8080"
    deploy:
      resources:
        limits:
          cpus: "1.5"     # Maksimum 1,5 CPU çekirdeği kullanabilir
          memory: "1GB"   # Maksimum 1GB RAM kullanabilir
        reservations:
          cpus: "1.0"     # Minimum 1 CPU rezerve edilir
          memory: "512MB" # Minimum 512MB RAM rezerve edilir
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - env_ublMainXsltFilePath=/mnt/data/packges/schematron/UBL-TR_Main_Schematron.xslt
      - env_eArchiveXsltFilePath=/mnt/data/packges/schematron/earsiv_schematron.xslt
      - env_eLedgerJournalXsltFilePath=/mnt/data/packges/schematron/edefter_yevmiye.xslt
      - env_XsdInvoiceFilePath=/mnt/data/packges/xsdrt/maindoc/UBL-Invoice-2.1.xsd
      - env_XsdDespatchAdviceFilePath=/mnt/data/packges/xsdrt/maindoc/UBL-DespatchAdvice-2.1.xsd
      - env_XsdApplicationResponseFilePath=/mnt/data/packges/xsdrt/maindoc/UBL-ApplicationResponse-2.1.xsd
      - env_XsdReceiptAdviceFilePath=/mnt/data/packges/xsdrt/maindoc/UBL-ReceiptAdvice-2.1.xsd
      - env_XsdLedgerFilePath=/mnt/data/packges/ledgerxsd/xsd/edefter.xsd
    volumes:
      - "C:/JBitirmeOdevi/ValidationApplication/packges:/mnt/data/packges/"
